<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">

</head>
<body>
  <%- include('partials/navbar') %>
  <h1>About Page</h1>
  <p>Welcome to the about page!</p>
  <div id="historia"></div>

</body>
</html>
