<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Form</title>
  <link rel="stylesheet" href="/css/styles-form.css">
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">

</head>
<body>
  <%- include('partials/navbar') %>
  <h1>Form Page</h1>
  <form action="/submit-form" method="POST">
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name">
    <label for="text">Escenario/Ambiente/situación:</label>
    <input type="text" id="text" name="escenario">
    <button type="submit">Enviar</button>
  </form>
  <div class="story-container"></div>
 
</body>
</html>
